.background{
    text-align: center;
    background-image: url(image/wood.jpg); 
    color: white;
}
.celeb{
    text-align: center;
    padding: 10%;
    border: 10px solid white;
    color: azure;
    font-weight: 800;
}
.column{
    text-align: center;
    float: left;
    width: 40%;
    padding: 5px;
}
.row::after{
    text-align: center;
    content: "";
    clear: both;
    display: table;
}
.container{
    text-align: center;
    box-sizing: border-box;
}