.background{
    background-image: url(image/wood.jpg);
}
.celeb{
    padding: 10%;
    border: 10px solid white;
    width: 150px;
    height: 150px;
    color: azure;
    text-indent: 50%;
    font-weight: 800;
}
.drink{
    padding: 8%;
    color: white;
}